{% sw_extends '@parent/storefront/component/product/listing.html.twig' %}

{# {% block element_product_listing_wrapper_content %}

{% endblock %} #}

{% block element_product_listing_pagination_nav_actions %}
	{% if activeRoute == 'frontend.all.product' %}
		<div
			class="cms-element-product-listing-actions row justify-content-between">
			{# <div class="col-md-auto">
																	{% block element_product_listing_pagination_nav_top %}
																	{% sw_include '@Storefront/storefront/component/pagination.html.twig' with {
													                                    entities: searchResult,
													                                    criteria: searchResult.criteria
													                                } %}
																{% endblock %}
															</div> #}

			<div class="col-md-auto">
				{% block element_product_listing_sorting %}
					{% sw_include '@Storefront/storefront/component/sorting.html.twig' with { current: searchResult.sorting, sortings: searchResult.sortings } %}
				{% endblock %}
			</div>
		</div>
	{% endif %}
{% endblock %}

{% block element_product_listing_col %}
	{% if activeRoute == 'frontend.home.page' %}
		<section class="container" style="">
			<header class="col-md-12">
				<h2 class="align-center cl-accent">Most popular</h2>
			</header>
			<div
				class="row cms-listing-row js-listing-wrapper" style="justify-content: center; margin: 2.5rem -.75rem 0;">
				{# {% endif %} #}
				{% for product in searchResult %}
					{% if product.translated.customFields.custom_top_seller_mark %}
						<div class="cms-listing-col {{ listingColumns }}">
							{% block element_product_listing_box %}
								{% sw_include '@Storefront/storefront/component/product/card/box.html.twig' with {
                                            'layout': boxLayout,
                                            'displayMode': displayMode
                                        } %}
							{% endblock %}
						</div>
					{% endif %}
				{% endfor %}
			{% endif %}

			{% if activeRoute == 'frontend.home.page' %}
			</div>
		</section>
	{% elseif activeRoute == 'frontend.all.product' %}
		{% for product in searchResult %}
			<div class="cms-listing-col {{ listingColumns }}">
				{% sw_include '@Storefront/storefront/component/product/card/box.html.twig' with {
																							'layout': boxLayout,
																							'displayMode': displayMode
																					} %}
			</div>
		{% endfor %}
	{% elseif activeRoute == 'frontend.health.needs.regimens' %}
		<div class="container">
			<div class="section text-center" data-location="section">
				<div class="section__header text-center">
					<h1 class="section__headline headline">Find your regimen.</h1>
				</div>
			</div>

			<aside class="regimens-sidebar" id="faceted-search-container">
				<nav>
					<div id="facetedSearch" class="facetedSearch sidebarBlock regiments-facetedSearch">
						<div id="facetedSearch-navList" class="facetedSearch-navList blocker-container is-open regiments-filter-list">
							<div class="accordion accordion--navList">
								<div class="accordion-block">
									<div id="facetedSearch-content--Regimens" class="accordion-content  is-open ">
										<ul id="facetedSearch-navList--Regimens" data-facet="Regimens" class="navList" data-has-more-results="false">
											<li class="navList-item regimen-navList-item">
												<a href="/regimens/heart-health" class="navList-action navList-action--checkbox active" rel="nofollow" data-regimen="heart-health" style="padding-left: 0 !important;">
													<img src="https://cdn8.bigcommerce.com/s-zsd73psd0i/content/assets/seo/images/regimens/regimen-builder-heart-health.jpg" alt="Heart Health">
													<span>Heart Health</span>
												</a>
											</li>
											<li class="navList-item regimen-navList-item">
												<a href="/regimens/energy" class="navList-action navList-action--checkbox" rel="nofollow" data-regimen="joint-and-mobility">
													<img src="https://cdn8.bigcommerce.com/s-zsd73psd0i/content/assets/seo/images/regimens/regimen-builder-joint-and-mobility.jpg" alt="Joint and Mobility">
													<span>Joint and Mobility</span>
												</a>
											</li>
										</ul>
									</div>
								</div>

							</div>
						</div>
					</div>
				</nav>
			</aside>

			<div class="row cms-listing-row js-listing-wrapper" style="justify-content: center">
				<div class="banner banner--offers regimen--offers">
					<div class="text-shipping">
						<strong>Free Shipping</strong>
						on all orders over 100 €.</div>
				</div>
				{% for product in searchResult %}
					{# 
					{% set count = 0 %}
					{% for label, value in product.translated.customFields %}
						{% if value is not iterable %}
							{% if label == 'custom_health_needs_heart' or label == 'custom_health_needs_energy' %}
								{% set count = 1 %}
									<div class="cms-listing-col {{ listingColumns }}">
										{% sw_include '@Storefront/storefront/component/product/card/box.html.twig' with {
																																'layout': boxLayout,
																																'displayMode': displayMode
																														} %}
									</div>

							{% endif %}
						{% endif %}

					{% endfor %} #}
					{# {% if count == 1 %}
						<div class="cms-listing-col {{ listingColumns }}">
							{% sw_include '@Storefront/storefront/component/product/card/box.html.twig' with {
																													'layout': boxLayout,
																													'displayMode': displayMode
																											} %}
						</div>
					{% endif %} #}
					{# <pre>
						{{ dump(product.translated.customFields) }}
					</pre> #}
					{# {% set count = 0 %} #}
					{% if product.translated.customFields.custom_health_needs_heart %}
						<div class="cms-listing-col {{ listingColumns }}">
										{% sw_include '@Storefront/storefront/component/product/card/box.html.twig' with {
																																'layout': boxLayout,
																																'displayMode': displayMode
																														} %}
						</div>
						{# {% set count = 1 %} #}
					{% endif %}
					{% if product.translated.customFields.custom_health_needs_energy %}
						<div class="cms-listing-col {{ listingColumns }}">
										{% sw_include '@Storefront/storefront/component/product/card/box.html.twig' with {
																																'layout': boxLayout,
																																'displayMode': displayMode
																														} %}
						</div>
						{# {% set count = 1 %} #}
					{% endif %}
				{% endfor %}
			</div>

		</div>
	{% elseif activeRoute == 'frontend.health.needs.energy' %}
		<div class="container">
			<div class="row cms-listing-row js-listing-wrapper" style="justify-content: center">
				{% for product in searchResult %}
					{% if product.translated.customFields.custom_health_needs_energy %}
						<div class="cms-listing-col {{ listingColumns }}">
								{% sw_include '@Storefront/storefront/component/product/card/box.html.twig' with {
                                            'layout': boxLayout,
                                            'displayMode': displayMode
                                        } %}
						</div>
					{% endif %}
				{% endfor %}
			</div>

		</div>
	{% elseif activeRoute == 'frontend.health.needs.heart.health' %}
		<div class="container">
			<div class="row cms-listing-row js-listing-wrapper" style="justify-content: center">
				{% for product in searchResult %}
					{% if product.translated.customFields.custom_health_needs_heart %}
						<div class="cms-listing-col {{ listingColumns }}">
								{% sw_include '@Storefront/storefront/component/product/card/box.html.twig' with {
                                            'layout': boxLayout,
                                            'displayMode': displayMode
                                        } %}
						</div>
					{% endif %}
				{% endfor %}
			</div>

		</div>
	{% else %}
		{% for product in searchResult %}
			<div class="cms-listing-col {{ listingColumns }}">
				{% sw_include '@Storefront/storefront/component/product/card/box.html.twig' with {
																															'layout': boxLayout,
																															'displayMode': displayMode
																													} %}
			</div>
		{% endfor %}
	{% endif %}
{% endblock %}

{% block element_product_listing_pagination_nav_bottom %}
	{% if activeRoute == 'frontend.all.product' %}
		{% sw_include '@Storefront/storefront/component/pagination.html.twig' with {
                        entities: searchResult,
                        criteria: searchResult.criteria
                    } %}
	{% endif %}
	<style>
		.text-shipping {
			text-transform: uppercase;
		}

		.banner--offers {
			margin: 0 -0.75rem 2.5rem;
			background-color: #F15A29;
			color: #fff;
			line-height: 45px;
			font-size: 18px;
			text-transform: uppercase;
			height: 45px;
			text-align: center;
			font-family: Montserrat;
		}

		.navList-action {
	    display: flex;
    	flex-direction: column;
			align-items: center;
		}
	</style>

{% endblock %}
